@model Dictamenes.Models.SujetoObligado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SujetoObligado</h4>
    <hr />
    <div class="row">
        <label class="form-label col-3">
            @Html.DisplayNameFor(model => model.CuilCuit)
        </label>
        <p class="col-9 card p-2">
            @Html.DisplayFor(model => model.CuilCuit)
        </p>        
        <label class="form-label col-3">
            @Html.DisplayNameFor(model => model.RazonSocial)
        </label>
        <p class="col-9 card p-2">
            @Html.DisplayFor(model => model.RazonSocial)
        </p>
        <label class="form-label col-3">
            @Html.DisplayNameFor(model => model.TipoSujetoObligado)
        </label>
        <p class="col-9 card p-2">
            @Html.DisplayFor(model => model.TipoSujetoObligado.Descripcion)
        </p>
        
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Volver atras</a>
</div>
