@model Dictamenes.Models.Dictamen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dictamen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.NroGDE)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NroGDE)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.NroExpediente)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NroExpediente)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FechaCarga)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.FechaCarga)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.EsPublico)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.EsPublico)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IdArchivoLigado)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.IdArchivoLigado)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.SujetoObligado)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.SujetoObligado.RazonSocial)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Asunto)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Asunto.Descripcion)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TipoDictamen)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TipoDictamen.Descripcion)
        </dd>
        <dt class = "col-sm-4">
            Cuil de usuario generador
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.UsuarioGenerador.Cuil)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
