@model IEnumerable<Dictamenes.Models.Dictamen>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NroGDE)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NroExpediente)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FechaCarga)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Asunto)
            </th>            
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                <a  asp-action="Details" asp-route-id="@item.id"
                   class=" link-dark text-decoration-none">
                    @Html.DisplayFor(modelItem => item.NroGDE)
                </a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.NroExpediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCarga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asunto.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                <a class="bi bi-pencil-square btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.id" ></a>
            </td>
        </tr>
}
    </tbody>
</table>
