@model IEnumerable<Dictamenes.Models.Asunto>

@{
    ViewBag.Title = "Index";
}

<h2>Asuntos</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">Cargar nuevo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstaHabilitado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EstaHabilitado)
    </td>
    <td>
        <a class="btn btn-outline-warning" href="@Url.Action("Edit", new { id = item.Id })"><i class="bi bi-pencil-square"></i></a>
    </td>
</tr>
}

</table>
