<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dictamenes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Dictamenes.Models
    @{string rol = Dictamenes.Controllers.LoginController.GetUserRolIdentity(User.Identity);}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <style>sf-menu:</style>


</head>
<body class="p-0">
    <header>
        <nav class="navbar navbar-expand-xl navbar-light bg-light">
            <a class="navbar-brand">Dictamenes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Raw(Dictamenes.Controllers.LoginController.GetUserDataIdentity(User.Identity).Menu.Replace("sf-menu", "navbar-nav mr-auto").Replace("<ul></ul>", "").Replace("<a ", "<a class=\"nav-link\""))
                }
                <div class="navbar-nav ml-auto ">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle px-3" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @User.Identity.Name
                            </a>
                            <div class="dropdown-menu dropdown-menu-right ml-auto" aria-labelledby="navbarDropdownMenuLink">
                                <a href="@Url.Action("Logout", "Login")" class="dropdown-item">
                                    <i class="fas fa-sign-out-alt"></i> Cerrar sesion
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </nav>

    </header>
    <div class="container-fluid" style="max-width:1320px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        
    </div>    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>



</html>
