@model Dictamenes.Models.SujetoObligado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SujetoObligado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoSujetoObligado.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSujetoObligado.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioModificacion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioModificacion.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuilCuit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuilCuit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstaActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstaActivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
