@model Dictamenes.Models.Dictamen

@{
    ViewBag.Title = "Borrar";
}


<h3>¿Estas seguro que quieres borrar este Dictamen?</h3>
<hr />
<div class="row align-content-center">
    <label class="form-label align-self-center col-3">
        @Html.DisplayNameFor(model => model.NroGDE)
    </label>
    <p class="col-9 card p-2">
        @Html.DisplayFor(model => model.NroGDE)
    </p>
    <label class="form-label col-3">
        @Html.DisplayNameFor(model => model.NroExpediente)
    </label>
    <p class="col-9 card p-2">
        @Html.DisplayFor(model => model.NroExpediente)
    </p>
    <label class="form-label col-3">
        @Html.DisplayNameFor(model => model.FechaCarga)
    </label>
    <p class="col-9 card p-2">
        @Html.DisplayFor(model => model.FechaCarga)
    </p>
    <label class="form-label col-3">
        @Html.DisplayNameFor(model => model.Detalle)
    </label>
    <p class="col-9 card p-2">
        @Html.DisplayFor(model => model.Detalle)
    </p>
    <label class="form-label col-3">
        @Html.DisplayNameFor(model => model.EsPublico)
    </label>
    <p class="col-9 card p-2">
        @Html.DisplayFor(model => model.EsPublico)
    </p>
    <label class="col-3 col-form-label">
        @Html.DisplayNameFor(model => model.Asunto)
    </label>
    <p class="col-9 card p-2">
        @Html.DisplayFor(model => model.Asunto.Descripcion)
    </p>
    <label class="col-3 col-form-label">
        @Html.DisplayNameFor(model => model.TipoDictamen)
    </label>
    <p class="col-9 card p-2">
        @Html.DisplayFor(model => model.TipoDictamen.Descripcion)
    </p>
    <h5 class="col-12">Sujeto Obligado</h5>
    <br class="m-1" />
    <label class="form-label col-3">
        @Html.DisplayNameFor(model => model.SujetoObligado.CuilCuit)
    </label>
    <p class="col-9 card p-2">
        @Html.DisplayFor(model => model.SujetoObligado.CuilCuit)
    </p>
    @if (Model.SujetoObligado.IdTipoSujetoObligado == ViewBag.IdDenunciante)
    {
        <label class="form-label col-3">
            @Html.DisplayNameFor(model => model.SujetoObligado.Nombre)
        </label>
        <p class="col-9 card p-2">
            @Html.DisplayFor(model => model.SujetoObligado.Nombre)
        </p>
        <label class="form-label col-3">
            @Html.DisplayNameFor(model => model.SujetoObligado.Apellido)
        </label>
        <p class="col-9 card p-2">
            @Html.DisplayFor(model => model.SujetoObligado.Apellido)
        </p>
    }
    else
    {
        <label class="form-label col-3">
            @Html.DisplayNameFor(model => model.SujetoObligado.RazonSocial)
        </label>
        <p class="col-9 card p-2">
            @Html.DisplayFor(model => model.SujetoObligado.RazonSocial)
        </p>
    }
    @{ if (Model.ArchivoPDF == null)
        {
            <h5 class="form-label col-12">
                Archivo
            </h5>
            <div class="row justify-content-center">
                <h4 class="p-2 col-auto">Este dictamen no tiene un archivo</h4>
            </div>
        }
        else
        {
            if (!System.IO.File.Exists(Server.MapPath(Model.ArchivoPDF.Path)))
            {
                <h5 class="form-label col-12">
                    Archivo
                </h5>
                <div class="row justify-content-center">
                    <h4 class="alert-danger rounded p-2 col-auto">Hubo un error con la carga del archivo</h4>
                </div>
            }
            else
            {
                <h5 class="form-label col-3">
                    Archivo
                </h5>
                <a class="btn btn-dark col" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false">Ver el Achivo del Dictámen</a>

            }
        }
    }
</div>
<div id="collapseOne" class="collapse m-3">
    <div class="embed-responsive embed-responsive-16by9">
        <embed src="@Url.Action("DownloadFile", "File", new { id = Model.IdArchivoPDF })" class="embed-responsive-item" />
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row justify-content-end">
        <div class="col-lg-6 col-md-8 my-2 row justify-content-end">
            <a class="col-4 btn btn-secondary m-1" onclick="history.go(-1);"><i class="bi bi-arrow-left"></i>  Volver atras</a>
            <button type="submit" class="btn btn-danger m-1 col-4"><i class="bi bi-trash"></i> Borrar </button>
        </div>
    </div>

}