@model Dictamenes.Models.Dictamen

@{
    ViewBag.Title = "Borrar";
}


<h3 class="text-danger">¿Estas seguro que quieres borrar este Dictamen?</h3>
<hr />

<div class="row align-content-center">
    <label class="form-label align-self-center align-self-center col-3">
        @Html.DisplayNameFor(model => model.NroGDE)
    </label>
    <p class="col-9 card p-2">
        @Html.DisplayFor(model => model.NroGDE)
    </p>
    <label class="form-label align-self-center col-3">
        @Html.DisplayNameFor(model => model.NroExpediente)
    </label>
    <p class="col-9 card p-2">
        @Html.DisplayFor(model => model.NroExpediente)
    </p>
    <label class="form-label align-self-center col-3">
        @Html.DisplayNameFor(model => model.FechaCarga)
    </label>
    <p class="col-9 card p-2">
        @Html.DisplayFor(model => model.FechaCarga)
    </p>
    <label class="form-label align-self-center col-3">
        @Html.DisplayNameFor(model => model.Detalle)
    </label>
    <p class="col-9 card p-2">
        @Html.DisplayFor(model => model.Detalle)
    </p>
    @*<label class="form-label align-self-center col-3">
        @Html.DisplayNameFor(model => model.EsPublico)
    </label>
    <p class="col-9 card p-2">
        @Html.DisplayFor(model => model.EsPublico)
    </p>*@
    <label class="align-self-center col-3 col-form-label">
        @Html.DisplayNameFor(model => model.Asunto)
    </label>
    <p class="col-9 card p-2">
        @Html.DisplayFor(model => model.Asunto.Descripcion)
    </p>
    <label class="align-self-center col-3 col-form-label">
        @Html.DisplayNameFor(model => model.TipoDictamen)
    </label>
    @if (Model.TipoDictamen != null)
    {<p class="col-9 card p-2">
            @Html.DisplayFor(model => model.TipoDictamen.Descripcion)
        </p>
    }
    else
    {
        <h6 class="col-9 card p-2">
            Este dictámen no tiene un Tipo de Dictamen
        </h6>
    }


    @if (Model.SujetoControlado != null)
    {
        <h5 class="col-12">Sujeto Controlado</h5>
        <br class="m-1" />
        <label class="form-label align-self-center col-3">
            @Html.DisplayNameFor(model => model.SujetoControlado.CuilCuit)
        </label>
        <p class="col-9 card p-2">
            @Html.DisplayFor(model => model.SujetoControlado.CuilCuit)
        </p>
        if (Model.SujetoControlado.IdTipoSujetoControlado == ViewBag.IdDenunciante)
        {
            <label class="form-label align-self-center col-3">
                @Html.DisplayNameFor(model => model.SujetoControlado.Nombre)
            </label>
            <p class="col-9 card p-2">
                @Html.DisplayFor(model => model.SujetoControlado.Nombre)
            </p>
            <label class="form-label align-self-center col-3">
                @Html.DisplayNameFor(model => model.SujetoControlado.Apellido)
            </label>
            <p class="col-9 card p-2">
                @Html.DisplayFor(model => model.SujetoControlado.Apellido)
            </p>
        }
        else
        {
            <label class="form-label align-self-center col-3">
                @Html.DisplayNameFor(model => model.SujetoControlado.RazonSocial)
            </label>
            <p class="col-9 card p-2">
                @Html.DisplayFor(model => model.SujetoControlado.RazonSocial)
            </p>
        }
    }
    else
    {

        <h5 class="form-label col-3 align-self-center">
            Sujeto Controlado
        </h5>
        <h6 class="card p-2 col-9">Este dictámen no tiene un Sujeto Controlado</h6>

    }


    @{ if (Model.ArchivoPDF == null)
        {
            <h5 class="form-label col-3 align-self-center">
                Archivo
            </h5>
            <h6 class="card p-2 col-9">Este dictámen no tiene un archivo</h6>

        }
        else
        {
            if (!System.IO.File.Exists(Server.MapPath(Model.ArchivoPDF.Path)))
            {

                <h5 class="form-label col-3 align-self-center">
                    Archivo
                </h5>
                <h6 class="card alert-danger rounded p-2 col-9">Hubo un error con la carga del archivo</h6>

            }
            else
            {
                <h5 class="form-label col-3 align-self-center">
                    Archivo
                </h5>
                <a class="btn btn-dark col-9" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false">Ver el Achivo del Dictamen</a>

            }
        }
    }

</div>
<div id="collapseOne" class="collapse m-3">
    <div class="embed-responsive embed-responsive-16by9">
        <embed src="@Url.Action("DownloadFile", "File", new { id = Model.IdArchivoPDF })" class="embed-responsive-item" />
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row justify-content-end">
        <div class="col-lg-6 col-md-8 my-2 row justify-content-end">
            <a class="col-4 btn btn-secondary m-1" onclick="history.go(-1);"><i class="bi bi-arrow-left"></i>  Volver atrás</a>
            <button type="submit" class="btn btn-danger m-1 col-4"><i class="bi bi-trash"></i> Borrar </button>
        </div>
    </div>

}