@model IEnumerable<Dictamenes.Models.Dictamen>
@using Dictamenes.Models
@{
    ViewBag.Title = "Listado de Dictámenes";
}
@{string rol = Dictamenes.Framework.Security.LoginService.Current.GrupoNombre;}

@if (rol != null && rol == "CARGAR")
{
    <h2>
        @(ViewBag.Busqueda == null ? "Listado de todos los Dictámenes del Año " + DateTime.Now.Year : "Listado de filtrado de Dictámenes" )
    </h2>
    <hr />
    <div class="row justify-content-between my-2">
        <div class="col-3 align-self-center mb-0">
            <a class="btn btn-primary" href="@Url.Action("CargarFile")"> <i class="bi bi-plus-lg"></i>   Cargar nuevo Dictamen</a>
        </div>
        <div class="col-3 m-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-search"></i> Búsqueda Avanzada
            </button>
        </div>
    </div>

}
else
{
    <div class="row justify-content-between my-2">
        <div class="col-auto align-self-center mb-0">
            <h2>@(ViewBag.Busqueda == null ? "Listado de todos los Dictámenes del Año " + DateTime.Now.Year : "Listado de filtrado de Dictámenes" ) </h2>
        </div>
        <div class="col-auto m-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-search"></i> Búsqueda Avanzada
            </button>
        </div>
    </div>
}



@if (ViewBag.Busqueda == null)
{
    @Html.Partial("_busqueda", new Busqueda() { Collapse = true })
}
else
{
    @Html.Partial("_busqueda", (Busqueda)ViewBag.Busqueda)
}
@if (Model.Count() > 0)
{
    <table id="dataTable" class="table table-striped table-hover">
        <thead>
            <tr class="table-primary">

                <th>
                    @Html.DisplayNameFor(model => model.NroGDE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NroExpediente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Asunto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Detalle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaCarga)
                </th>
                <th class="no-sort"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NroGDE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NroExpediente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Asunto.Descripcion)
                    </td>
                    <td>
                        @(item != null && item.Detalle.Length > 40 ? item.Detalle.Substring(0, 40) : item.Detalle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCarga)
                    </td>
                    @if (rol != null && (string)rol == "CARGAR")
                    {
                        <td class="row justify-content-end mx-0 px-0">
                            <div class="btn-group mr-1 px-0">
                                <a class="btn btn-info" href="@Url.Action("Details", new { id = item.Id })"><i class="bi bi-info-lg"></i></a>
                                <a class="btn btn-warning" href="@Url.Action("Edit", new { id = item.Id })"><i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })"><i class="bi bi-trash"></i></a>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td class="row justify-content-end mx-0 px-0">
                            <div class="col-auto">
                                <a class="btn btn-info" href="@Url.Action("Details", new { id = item.Id })"><i class="bi bi-info-lg"></i></a>
                            </div>

                        </td>
                    }
                </tr>
            }



        </tbody>

    </table>
}
else
{
    <hr />
    <div class="row justify-content-center">
        <h4 class="text-danger">No se encontraron Dictámenes con los filtros actuales</h4>
    </div>

}

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "searching": false,
                "ordering": true,
                "responsive": true,
                columnDefs: [{
                    orderable: false,
                    targets: "no-sort"
                }],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                }
            });
        });
    </script>
}

