@model IEnumerable<Dictamenes.Models.Dictamen>
@using Dictamenes.Models
@{
    ViewBag.Title = "Index";
}


<div class="row justify-content-between my-2">
    @if (Session["rol"] != null && (string)Session["rol"] == "CARGAR")
    {
        <div class="col-2 align-self-center mb-0">
            <a class="btn btn-primary" href="@Url.Action("CargarFile")">Cargar nuevo</a>
        </div>
    }
    else
    {
        <div class="col-2 align-self-center mb-0">
            <h3>Dictamenes</h3>
        </div>
    }

    <div class="col-3 m-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-search"></i> Busqueda
        </button>
    </div>

</div>

@if (ViewBag.Busqueda == null)
{
    @Html.Partial("_busqueda", new Busqueda())
}
else
{
    @Html.Partial("_busqueda", (Busqueda)ViewBag.Busqueda)
}

<table class="table table-striped table-hover">
    <thead>
        <tr class="table-primary">

            <th>
                @Html.DisplayNameFor(model => model.NroGDE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroExpediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class=" link-dark text-decoration-none" href="@Url.Action("Details", new { id = item.Id })">@Html.DisplayFor(modelItem => item.NroGDE)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NroExpediente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asunto.Descripcion)
                </td>
                <td>
                    @(item != null && item.Detalle.Length > 30 ? item.Detalle.Substring(0, 30) : item.Detalle)
                </td>

                @if (Session["rol"] != null && (string)Session["rol"] == "CARGAR")
                {
                    <td>
                        <a class="btn btn-outline-warning" href="@Url.Action("Edit", new { id = item.Id })"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-outline-danger" href="@Url.Action("Delete", new { id = item.Id })"><i class="bi bi-trash"></i></a>
                    </td>
                }
                else
                {
                    <td>

                    </td>
                }

            </tr>
        }
    </tbody>    

</table>

@if (Model.Count() < 1)
{
    <div class="row justify-content-center">
        <h4>No se encontraron Dictamenes</h4>
    </div>
}
