@model Dictamenes.Models.SujetoObligado

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>SujetoObligado</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group row">
        @Html.LabelFor(model => model.CuilCuit, htmlAttributes: new { @class = "control-label col-md-3 align-self-end" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.CuilCuit, new { htmlAttributes = new { @class = "form-control col-auto" } })
            @Html.ValidationMessageFor(model => model.CuilCuit, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label col-md-3 align-self-end" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control col-auto" } })
            @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.IdTipoSujetoObligado, htmlAttributes: new { @class = "control-label col-md-3 align-self-end" })
        <div class="col-md-9">
            @Html.DropDownList("IdTipoSujetoObligado", null, htmlAttributes: new { @class = "form-control col-auto" })
            @Html.ValidationMessageFor(model => model.IdTipoSujetoObligado, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-9">
            <div class="checkbox">
                @Html.CheckBox("EstaHabilitado") @Html.LabelFor(model => model.EstaHabilitado, htmlAttributes: new { @class = "control-label col-md-3 align-self-end" })
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-offset-3 align-self-end col-md-9">
            <a class="col-3 btn btn-secondary" onclick="history.go(-1);"><i class="bi bi-arrow-left"></i>  Volver atras</a>
            <button type="submit" class="btn btn-success m-1"><i class="bi bi-check2-square"></i>  Guardar </button>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
