


<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-6 form-group align-items-center">
            <div class="card bg-light">
                <h5 class="card-header">Asuntos</h5>
                <br />
                <div class="row justify-content-center  ">
                    <a class="btn btn-primary m-1" href="@Url.Action("Index","Asuntos")">Ver asuntos</a>
                    <a class="btn btn-outline-primary m-1" href="@Url.Action("Create","Asuntos")" >Nuevo asunto</a>
                </div>
                <br />
            </div>
        </div>

        <div class="col-md-6 form-group align-items-center">
            <div class="card bg-light">
                <h5 class="card-header">Tipos de Sujetos Obligados</h5>
                <br />
                <div class="row justify-content-center  ">
                    <a class="btn btn-primary m-1" href="@Url.Action("Index","TiposSujetoObligado")">Ver tipos de Sujeto Obligado</a>
                    <a class="btn btn-outline-primary m-1" href="@Url.Action("Create","TiposSujetoObligado")">Nuevo tipo de Sujeto Obligado</a>
                </div>
                <br />
            </div>
        </div>

        <div class="col-md-6 form-group align-items-center">
            <div class="card bg-light">
                <h5 class="card-header">Tipos de Dictamenes</h5>
                <br />
                <div class="row justify-content-center  ">
                    <a class="btn btn-primary m-1" href="@Url.Action("Index","TiposDictamen")">Ver tipos de Dictamenes</a>
                    <a class="btn btn-outline-primary m-1" href="@Url.Action("Create","TiposDictamen")">Nuevo tipo de Dictamen</a>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>   